name: Build Flutter Web

on:
  push:
    branches:
      - release
    paths-ignore:
      - 'build/web/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.3'

      - name: Install dependencies
        run: flutter pub get

      - name: Build web (prod)
        run: flutter build web --dart-define=ENV=prod
        
      - name: Commit build output
        env:
          TOKEN: ${{ secrets.GH_BUILDFRONTACTION }}
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git remote set-url origin https://x-access-token:${TOKEN}@github.com/RedDuality/WYD.git
          git add build/web
          # only commit if there are actual changes
          if ! git diff --cached --quiet; then
            git commit -m "Build web output"
            git push
          else
            echo "No changes to commit"
          fi
          git push